h1 {
background: Silver;
color: DimGray;
}

body {
  background:
     url(Fotor_AI.png)    /* image */
     top center / 200px 200px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     rgb(209, 207, 207);                     /* color */
}
h2 {
  color: #4682B4;
}


